<div class="card" style="width: 18rem;">
  <div class="card-body">
      <img src="{{gem.fullImagePath}}" alt="{{gem.name}}">
      <div>
   <h5 class="card-title">{{gem.name}}</h5>
      
      <h6>{{gem.price| currency}}</h6>
          
          </div>
      
      <app-tabs [gem]="gem"></app-tabs>
      
      
      
      
      <button (click)= "gem.inventory = gem.inventory-1" *ngIf="gem.inventory > 0" class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
      <button *ngIf = "gem.inventory <= 0" class="btn btn-danger" disabled>Sold Out</button>
   
  </div>
</div>